# MongoDB Atlas or Local Database URI
MONGODB_URI=mongodb://localhost:27017/pragyan2k26

# JWT Authentication Secret Key
JWT_SECRET=pragyan-2k26-admin-super-secret-key-2026

# Express Backend Server Port
PORT=5000
