# MongoDB Atlas or Local Database URI
MONGODB_URI=mongodb://localhost:27017/pragyan2k26

# JWT Authentication Secret Key
JWT_SECRET=pragyan-2k26-admin-super-secret-key-2026

# Express Backend Server Port
PORT=5000

# Firebase Authentication & Client Config
VITE_FIREBASE_API_KEY=AIzaSyCqusQj626txssYBtOnMhHXD2KfbSwgW98
VITE_FIREBASE_AUTH_DOMAIN=pragyan-2k26.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pragyan-2k26
VITE_FIREBASE_STORAGE_BUCKET=pragyan-2k26.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=285180652671
VITE_FIREBASE_APP_ID=1:285180652671:web:9a4d74edd712004c86a34a
VITE_FIREBASE_MEASUREMENT_ID=G-Q97DFW6M2J
